<div class="bg-idr-core-grey-100">
  <div class="grid grid-cols-12 gap-1 h-24">
    <div>
      <span class="-mt-2">
        <div class="pl-4 pt-4">
          <img src="/assets/app/shared/assets/idr-logo.svg" class="logo" />
        </div>
      </span>
    </div>
    <div class="col-start-9 col-span-2">
      <span class="pt-6">
        <form>
          <mat-form-field class="'w-80'">
            <input matInput color="primary" placeholder="'search'" #searchTerm>
            <button type="button" matSuffix class="pr-1">
              <mat-icon color="primary" svgIcon="search" class="align-middle"></mat-icon>
            </button>
          </mat-form-field>
        </form>
      </span>
    </div>
    <div class="col-start-11 col-span-2">
      <div class="flex flex-row-reverse gap-3 h-full pr-4">
        <div class="pt-6 idr-profile-icon flex flex-row">
          <svg width="46" height="46">
            <circle cx="23" cy="23" r="21" stroke="currentColor" fill="white" stroke-width="1" />
            <text fill="currentColor" stroke="currentColor" font-size="26" x="7" y="32">JD</text>
          </svg>
          <mat-icon svgIcon="chevron-down" class="self-center"></mat-icon>
        </div>
        <!-- <idr-icon-button class="self-center" (click)="openNotifications()" [icon]="'bell'" [color]="'primary'"></idr-icon-button> -->
        <button mat-icon-button>
          <mat-icon [svgIcon]="'bell'" [color]="'primary'"></mat-icon>
        </button>
        <!-- <idr-dropdown-button class="self-center" text="Reports" [hasIcon]="true" iconName="printer">
          <div matMenuContent class="flex flex-col px-4">
            <button class="text-left">Report 1</button>
            <button class="text-left">Report 2</button>
          </div>
        </idr-dropdown-button> -->
      </div>
    </div>
  </div>

</div>
<div class="grid grid-cols-12 grid-rows2">
  <nav class="bg-idr-core-grey-100 col-start-1 col-span-2 min-h-screen">
    <div class="flex row-reverse justify-end pr-4">
      <button mat-icon-button *ngIf="isCollapsed; else elseblock" (click)="toggleCollapsed()">
        <mat-icon svgIcon="expand-arrows" color="primary" class="minimize-icon"></mat-icon>
      </button>
      <ng-template #elseblock>
        <button mat-icon-button (click)="toggleCollapsed()">
          <mat-icon svgIcon="collapse-arrows" color="primary" class="minimize-icon"></mat-icon>
        </button>
      </ng-template>
    </div>


    <!-- <idr-card title="Change profile" profileName="Robert Mason" routerLink="/profile/change-profile" (click)="setIsSelected(true)" [isSelected]="isChangeProfileSelected"></idr-card> -->

    <div class="h-14  max-w-full hover:bg-white"
      [ngClass]="isChangeProfileSelected ? 'bg-white border-l-4 border-solid border-l-idr-core-blue-900 pl-3': 'bg-idr-core-grey-100 pl-4'">
      <div class="flex h-full gap-4 ">
        <mat-icon class="self-center profile text-black" svgIcon="profile"
          [ngClass]="isChangeProfileSelected ? 'text-idr-core-blue-900': ''"></mat-icon>
        <div class="self-center flex flex-col w-full">
          <label class="text-sm">Robert Mason</label>
          <label class="text-titleSmall text-idr-core-blue-900 font-semibold">Change profile</label>
        </div>
        <div class="pr-4 self-center">
          <mat-icon matSuffix class="self-center chevron text-idr-core-grey-600" svgIcon="chevron-left"></mat-icon>
        </div>
      </div>
    </div>

    <!-- <idr-menu-section (click)="setIsSelected(false)"></idr-menu-section> -->
    <div class="text-slate-600 text-titleSmall font-semibold pt-4 border-t-2 border-solid border-idr-core-grey-500"
      *ngFor="let section of menu">
      <label class="text-titleSmall font-semibold pl-4">
        {{ section.sectionName }}
      </label>
      <!-- <idr-menu-item *ngFor="let item of section.menuItems" iconName="{{ item.iconName }}" title="{{ item.title }}" [link]="item.link"></idr-menu-item> -->
      <span *ngFor="let item of section.menuItems">
        <a>
          <div
            class="bg-idr-core-grey-100 text-black pl-4 h-14 hover:bg-white hover:text-idr-core-blue-900 font-normal hover:font-semibold hover:cursor-pointer">
            <div class="flex h-full gap-4">
              <mat-icon class="self-center profile hover:text-idr-core-blue-900"
                svgIcon="{{ item.iconName }}"></mat-icon>
              <div class="self-center flex flex-col w-full text-titleSmall">
                {{ item.title }}
              </div>
              <div class="pr-4 self-center">
                <mat-icon matSuffix class="self-center chevron text-idr-core-grey-600"
                  svgIcon="chevron-left"></mat-icon>
              </div>
            </div>
          </div>
        </a>
      </span>

    </div>

  </nav>
  <main class="col-start-3 col-span-full row-span-2 bg-idr-core-grey-100">
    <div class="pl-8 pt-8 bg-white rounded-tl-md h-full">
      Lorem ipsum
    </div>
  </main>
  <span class="bg-idr-core-grey-100 h-12 text-idr-core-blue-800 col-span-2 pt-4">
    <div class="text-sm flex flex-row gap-3 justify-center">
      <div>© IDR 2023</div>|
      <div><a href="https://idrgroup.com/media-1015-privacy-statement-pdf/" target="_blank"
          class="underline hover:italic">Privacy Policy</a></div> |
      <div><a href="https://www.theidregister.com/terms-of-business/" target="_blank"
          class="underline hover:italic">T&Cs</a></div>
    </div>
  </span>
</div>
