$idr-primary-10: #0e2b72;
$idr-primary-20: #264080;
$idr-primary-30: #3e558e;
$idr-primary-40: #566b9c;
$idr-primary-50: #6e80aa;
$idr-primary-60: #8695b8;
$idr-primary-70: #9faac7;
$idr-primary-80: #b4bdd3;
$idr-primary-90: #cfd5e3;
$idr-primary-95: #e7eaf1;

$idr-secondary-10: #32607a;
$idr-secondary-20: #477088;
$idr-secondary-30: #5b7f95;
$idr-secondary-40: #708fa2;
$idr-secondary-50: #849faf;
$idr-secondary-60: #99afbd;
$idr-secondary-70: #b2c7d1;
$idr-secondary-80: #c6d5dd;
$idr-secondary-90: #d9e3e8;
$idr-secondary-95: #ecf1f4;

$idr-tertiary-10: #382333;
$idr-tertiary-20: #552d4a;
$idr-tertiary-30: #653257;
$idr-tertiary-40: #873a71;
$idr-tertiary-50: #983d7f;
$idr-tertiary-60: #ad6f9d;
$idr-tertiary-70: #b988ad;
$idr-tertiary-80: #c5a2bf;
$idr-tertiary-90: #d3bfd3;
$idr-tertiary-95: #e6e1e9;

$idr-error-10: #410e0b;
$idr-error-20: #601410;
$idr-error-30: #8c1d18;
$idr-error-40: #b3261e;
$idr-error-50: #dc362e;
$idr-error-60: #e46962;
$idr-error-70: #ec928e;
$idr-error-80: #f2b8b5;
$idr-error-90: #f9dedc;
$idr-error-95: #fceeee;

$idr-neutral-10: #1c1b1f;
$idr-neutral-20: #313033;
$idr-neutral-30: #484649;
$idr-neutral-40: #605d62;
$idr-neutral-50: #787579;
$idr-neutral-60: #939094;
$idr-neutral-70: #aeaaae;
$idr-neutral-80: #c9c5ca;
$idr-neutral-90: #e6e1e5;
$idr-neutral-95: #f4eff4;

$idr-neutral-mod-10: #1d1a22;
$idr-neutral-mod-20: #322f37;
$idr-neutral-mod-30: #49454f;
$idr-neutral-mod-40: #605d66;
$idr-neutral-mod-50: #79747e;
$idr-neutral-mod-60: #938f99;
$idr-neutral-mod-70: #aea9b4;
$idr-neutral-mod-80: #cac4d0;
$idr-neutral-mod-90: #e7e0ec;
$idr-neutral-mod-95: #f5eefa;

$idr-light: #fffbfe;
$idr-black: #000000;
$idr-white: #ffffff;
$idr-green: #13A107;
$idr-green-light: #13a1074d;
$idr-warning: #DCA926;
$idr-warning-light: rgba(241, 200, 46, 0.5);
$idr-tertiary-light: #9C3587;
