$idr-core-blue: (
  50: #e7eaf1,
  100: #cfd5e3,
  200: #b4bdd3,
  300: #9faac7,
  400: #8695b8,
  500: #6e80aa,
  600: #566b9c,
  700: #3e558e,
  800: #264080,
  900: #0e2b72,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-core-grey: (
  50: #ecf1f4,
  100: #d9e3e8,
  200: #c6d5dd,
  300: #b2c7d1,
  400: #99afbd,
  500: #849faf,
  600: #708fa2,
  700: #5b7f95,
  800: #477088,
  900: #32607a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-dark-blue: (
  50: #184095,
  100: #184095,
  200: #184095,
  300: #184095,
  400: #184095,
  500: #184095,
  600: #184095,
  700: #184095,
  800: #184095,
  900: #184095,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-light-blue: (
  50: #15bff0,
  100: #15bff0,
  200: #15bff0,
  300: #15bff0,
  400: #15bff0,
  500: #15bff0,
  600: #15bff0,
  700: #15bff0,
  800: #15bff0,
  900: #15bff0,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-purple: (
  50: #9c3587,
  100: #9c3587,
  200: #9c3587,
  300: #9c3587,
  400: #9c3587,
  500: #9c3587,
  600: #9c3587,
  700: #9c3587,
  800: #9c3587,
  900: #9c3587,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-orange: (
  50: #f99f38,
  100: #f99f38,
  200: #f99f38,
  300: #f99f38,
  400: #f99f38,
  500: #f99f38,
  600: #f99f38,
  700: #f99f38,
  800: #f99f38,
  900: #f99f38,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-gold: (
  50: #eebc00,
  100: #eebc00,
  200: #eebc00,
  300: #eebc00,
  400: #eebc00,
  500: #eebc00,
  600: #eebc00,
  700: #eebc00,
  800: #eebc00,
  900: #eebc00,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-dark-green: (
  50: #004225,
  100: #004225,
  200: #004225,
  300: #004225,
  400: #004225,
  500: #004225,
  600: #004225,
  700: #004225,
  800: #004225,
  900: #004225,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-light-green: (

  50: #da3016,
  100: #da3016,
  200: #da3016,
  300: #da3016,
  400: #da3016,
  500: #da3016,
  600: #da3016,
  700: #da3016,
  800: #da3016,
  900: #da3016,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-success: (
  50: #00bb68,
  100: #00bb68,
  200: #00bb68,
  300: #00bb68,
  400: #00bb68,
  500: #00bb68,
  600: #00bb68,
  700: #00bb68,
  800: #00bb68,
  900: #00bb68,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-warning: (
  50: #f1c82e,
  100: #f1c82e,
  200: #f1c82e,
  300: #f1c82e,
  400: #f1c82e,
  500: #f1c82e,
  600: #f1c82e,
  700: #f1c82e,
  800: #f1c82e,
  900: #f1c82e,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-error: (
  50: #da3016,
  100: #da3016,
  200: #da3016,
  300: #da3016,
  400: #da3016,
  500: #da3016,
  600: #da3016,
  700: #da3016,
  800: #da3016,
  900: #da3016,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$idr-button: (
  50: #184095,
  100: #184095,
  200: #184095,
  300: #184095,
  400: #184095,
  500: #184095,
  600: #184095,
  700: #184095,
  800: #184095,
  900: #184095,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);
