@import "colors.palette";

body {
  letter-spacing: 0.15px;

  ::-webkit-scrollbar {
    width: 14px;
    height: 20px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: $idr-primary-90;
  }

  ::-webkit-scrollbar-thumb {
    background: $idr-primary-20;
    border-radius: 10px;
    border: 3px solid $idr-primary-90;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $idr-primary-10;

  }
}

.active {
  background-color: $idr-white;
}

aside.compact {
  display: flex;
  width: auto;
  .primary-menu-bar {
    width: 60px;
    margin-left: 16px;
  }

  li.title h3 {
    display: none;
  }

  li.px-4,
  li.p-4 {
    padding-left: 0.5rem;
    text-align: center;
    padding-right: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .toggle-button {
    display: block !important;
    margin-left: inherit;
  }

  span.ml-3,
  span.ml-auto {
    display: none;
  }

  footer {
    display: none;
  }

  .secondary-menu-bar-show {
    display: block !important;
  }
}

.expanded.sm\:ml-410 {
  margin-left: 76px;
}

.secondary-menu-bar-show.sm\:ml-410 {
  margin-left: 410px;
}

aside.secondary-menu-bar-show {
  width: 410px;

  .primary-menu-bar {
    margin-left: 0;
    border-right: 1px solid $idr-neutral-mod-80;
  }

  .secondary-ul {
    li {
      justify-content: start;
    }
  }
  .sub-category-ul {
    list-style: none;
    padding: 0;
    .before-success {
      &::before {
        border: 2px solid #13a107;
        background-color: $idr-green-light;
      }
    }

    .before-neutral {
      &::before {
        border: 2px solid $idr-neutral-mod-30;
        background-color: transparent;
      }
    }

    .before-progress {
      &::before {
        border: 2px solid $idr-warning;
        background-color: $idr-warning-light;
      }
    }

    li {
      justify-content: start;
      padding-left: 16px;

      &::before {
        content: "";
        height: 20px;
        min-width: 20px;
        border-radius: 50%;
        border-color: #13a107;
        display: inline-block;
        margin-right: 16px;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .internal-sub-menu-list {
      li {
        padding-left: 42px;
      }
    }
  }
}

.text-area {
  height: 112px;
}
