@use '@angular/material' as mat;
@include mat.core();
@import 'colors.palette.scss';

//specify default, lighter, and darker color or shade
$idr-primary: mat.define-palette($idr-core-blue, 900, 400);
$idr-accent: mat.define-palette($idr-purple);
$idr-warn: mat.define-palette($idr-gold, 900);

$idr-theme: mat.define-light-theme(
  (
    color: (
      primary: $idr-primary,
      accent: $idr-accent,
      warn: $idr-warn,
    ),
    density: -1,
  )
);

@include mat.all-component-themes($idr-theme);

  $alternate-primary: mat.define-palette($idr-dark-green);
  $alternate-accent: mat.define-palette($idr-gold);
  $alternate-theme: mat.define-light-theme(
    (
      color: (
        primary: $alternate-primary,
        accent: $alternate-accent,
      ),
      density: -2,
    )
  );

.alt-theme {
  @include mat.all-component-themes($alternate-theme);
}
